/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* Navbar Styles */

.navbar{
  font-family: 'Open Sans', sans-serif;
  background: #303030;
}

.loginButton{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
  
    color: #FFFFFF;
}

.loginButton:hover{
  text-decoration: none;
  color: #9013FE;
}

.signupButton{
  
  /* Primary - Gradient */
  background: linear-gradient(41.55deg, #941BFF 5.92%, #F185CE 97.55%);
  border: none;
  border-radius: 20px;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;


  /* Text */
  position: static;
  width: 96px;
  height: 32px;
  left: 103px;
  top: 0px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

/* Header */

.bg-image{
  background-image: url('./Assets/hero-background.png');
  /* Set a specific height */
  min-height: 411px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  /* H1 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  text-align: center;
  color: #303030;
}

h3{
  /* H3 - Subheader */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  text-align: center;

  max-width: 640px;
  margin: 0 auto;

  color: #303030;
}

.demoButton{

  background: linear-gradient(221.55deg, #67E2B3 3.68%, #2DCDD8 97.11%);
  border: none;
  border-radius: 26px;
  padding: 15px 35px;

  /* Text */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #303030;
}

/* Heart Lamps Section  */
.lampImg{
  width: 380px;
  height: 288px;
}

.featureLink{
  border-bottom: 3px solid #3380FF;
  padding-bottom: 3px;
  font-weight: 600;
}

.featureLink:hover{
  text-decoration: none;
  color: #3380FF;
}

/* Video Section */

.videoSection{
  background-color: #ECEFF1;
  height: 526px;
  margin-top: 5%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.resp-iframe {
  width: 585px;
  height: 326px;
  border: none;
}

@media only screen and (max-width: 600px) {.resp-iframe {max-width: 75%;}}

/* Form Section */
