/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


:root {
  --primary-brand-color: #9013FE;
  --primary-gradient-color: linear-gradient(41.55deg, #941BFF 5.92%, #F185CE 97.55%);
  --secondary-brand-color: #2DCDD8;
  --secondary-gradient-color: linear-gradient(221.55deg, #67E2B3 3.68%, #2DCDD8 97.11%);
  --succes: #7ED321;
  --warning: #F96C44;
  --danger: #D0021B;
  --default: #ECEFF1;
  --font-color: #303030;
}



/* Navbar Styles */

.App{
  font-family: 'Open Sans', sans-serif;
}

.navbar{
  background: var(--font-color);
}

.loginButton{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
  
    color: #FFFFFF;
}

.loginButton:hover{
  text-decoration: none;
  color: var(--primary-brand-color);
}

.signupButton{
  
  /* Primary - Gradient */
  background: var(--primary-gradient-color);
  border: none;
  border-radius: 20px;


  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px;


  /* Text */
  position: static;
  width: 96px;
  height: 32px;
  left: 103px;
  top: 0px;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

/* Header */

.bg-image{
  background-image: url('./Assets/hero-background.png');
  /* Set a specific height */
  min-height: 411px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home h1{
  /* H1 */
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */
  text-align: center;
  color: var(--font-color);
}

.home h3{
  /* H3 - Subheader */
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 35px;
  text-align: center;

  max-width: 640px;
  margin: 0 auto;

  color: var(--font-color);
}

.demoButton{

  background: var(--secondary-gradient-color);
  border: none;
  border-radius: 26px;
  padding: 15px 35px;

  /* Text */
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: var(--font-color);
}

/* Heart Lamps Section  */
.lampImg{
  width: 380px;
  height: 288px;
}

.lampSection h2{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */
}

.lampSection p{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.customeLink{
  border-bottom: 3px solid #3380FF;
  padding-bottom: 3px;
  font-weight: 600;
}

.customeLink:hover{
  text-decoration: none;
  color: #3380FF;
}

/* Video Section */

.videoSection{
  background-color: var(--default);
  height: 526px;
  margin-top: 5%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.resp-iframe {
  width: 585px;
  height: 326px;
  border: none;
}

@media only screen and (max-width: 600px) {.resp-iframe {max-width: 75%;}}

/* Form Section */

.formSection{
  /* height: 800px; */
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}

.errorMessage{
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: 0.375px;

  /* Danger */
  background: var(--danger);
  color: #fff;
  padding: 15px;
  /* Danger border */
  border: 4px solid #E78490;
  box-sizing: border-box;
}

label{
  color: #404040;
  font-weight: bold;
}

.asterik{
  color: var(--danger);
}

.container .row .col .demo .form-row .form-group .form-control{
  border: 1px solid #CCCCCC;
  border-radius: 0;
  box-sizing: border-box;
  height: 50px;

  margin: 10px 0px;
}

.container .row .col .demo .form-row .form-group .is-invalid{
  border: 1px solid var(--danger);
}

.invalid-feedback{
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  
  letter-spacing: 0.507812px;
}

.submitButton{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: var(--font-color);

  border: none;
  width: 136px;
  height: 52px;

  background: var(--succes);  
}

.icon {
  background-color: #fff;
  border: 1px solid #eee;
  text-align: center;
  width: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all .2s;
}

.checkIcon{
  color: #67E2B3;
  display: block;
  background: -webkit-linear-gradient(221.55deg, #67E2B3 3.68%, #2DCDD8 97.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background: linear-gradient(221.55deg, #67E2B3 3.68%, #2DCDD8 97.11%); */
}

.formSection h2{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
}

/* Map Section */

.mapSection{
  background: #F5F5F5;
}

.mapSection h6{
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.291667px;
}

.mapSection p{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.291667px;
  margin-bottom: 4%;
}

.gmnoprint a, .gmnoprint span {
  display:none;
}

.gmnoprint div {
  background:none !important;
}

img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"], a[href^="http://maps.google.com/maps"]{
  display:none !important;
}

/* Footer Section */

footer{
  background: var(--font-color);
  color: #FFF;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  letter-spacing: 0.291667px;
}

footer .container{
  padding-top: 15px;
  padding-bottom: 15px;
}

footer p{
  margin-left: 5px;
}

.socialIcons{
  margin-left: 20px;
}